.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.justifyBetween{
  justify-content: space-between;
}
.textCenter{
  text-align: center;
}
.flex-column {
  flex-direction: column;
}
.align-centre{
  align-items: center;
}
.padding2{
  padding: 4px;
}
.textEnd{
  text-align: end;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.minW100 {
  min-width: 100%;
}

.navbar-dark .navbar-toggle .icon-bar {
  background: black;
}
@media screen and (min-width: 900px) {
  .login-btn {
    min-width: 200px !important;
    display: flex;
    gap: 3px;
  }
}
.admin-boxes {
  width: 400px;
  margin: 10px;
  height: 120px;
  text-align: center;
}

.css-18lrjg1-MuiCircularProgress-root {
  width: 50px !important;
  height: 50px !important;
}

.dataHeight {
  min-height: calc(100vh - 270px);
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productImage {
  max-height: 90px;
}
.fs-13 {
  font-size: 13px !important;
}
.bg-image {
  background-image: url("./assets/contactus.jpg");
  height: 300px;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.iconCircle {
  width: 80px;
  /* background-color: green; */
  height: 80px;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.iconCircle > svg {
  font-size: 45px;
}
.iconCircle > div > p {
  margin: 0px !important;
}

fieldset {
  border: thick solid #000;
}
legend {
  color: #fff;
  background: #000;
  font-size: 1.5em;
  padding: 5px;
}

/* .tableCellBorder{
  border: 1px solid black;
  padding: 10px;
}
table {
  border-spacing: 30px;
} */

/* .cancelBtn-pos {
  position: absolute !important;
  right: -0px !important;
  top: -5px !important;
} */
.maxWidthCat {
  max-width: 300px;
}
.currenciesBox {
  width: 250px;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .mobView-card-mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobView-card-InnerMainDiv{
    display: flex;
    justify-content: center;
  }
}
.mb-searchInp:focus {
  outline: none;
  margin: 2px;
}
.descriptionHeight{
  overflow-y: auto;
  max-height: 15vh;
  white-space: wrap;
  text-overflow: ellipsis;
}
.h50{
  max-height: 50px !important;
}

.descriptionHeight::-webkit-scrollbar {
  width: 0.2em;
}
 
.descriptionHeight::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px green;
}
.descriptionHeight::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.buttonload {
  background-color: #04AA6D; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px /* Set a font size */
}
.fa {
  margin-left: 12px;
}
.loginNameEllipse{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 122px;
  white-space: nonwrap;
}
.pointer{
  cursor: pointer;
}
.productLoader{
width: 18px !important;
height: 18px !important;
font-size: 5px !important;
margin-left: 5px;
}
.alertBox{
  position: absolute;
  top: 250px;
  left: 200px;
}
.alertBoxDel{
  position: absolute;
  top: 50%;
  left: 50%;
}

.ribbon {
  --s: 13px; /* the ribbon size */
  --d: 10px; /* the depth */
  --c: 10px; /* the cutout part */
  
  padding: 0 calc(var(--s) + var(--d)) var(--d); /* we need some padding so the text doesn't overlap the ribbon part */
  background:
    conic-gradient(at left  var(--s) bottom var(--d),
     #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% no-repeat;
  clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));
  width: fit-content; 
}

.maxWidthFIltered{
  min-width: 300px;
}

.alertBoxPosition{
  position: absolute;
  right: 10px;
}
.productScroll{
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}
.productScroll::-webkit-scrollbar {
  width: 0.2em;
}
 
.productScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px green;
}
.productScroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
table tbody tr td {
  border-width: 1px;
  /* border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px; */
  border-style: solid;
  border-color: black;
}
table thead tr th {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-bottom-color: red;
}
table{
  display: block;
    overflow-x: auto;
    white-space: nowrap;
}